.login{
    height: auto;
    width: 700px;
    background-color: rgba(93, 89, 89, 0.637);
    padding: 30px;
    border-radius: 100px;
    opacity: 0.9;
    box-shadow: 0 0 15px 10px;
}
.login:hover{
    opacity: 1;
}
.panel{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.title{
    text-align: center;
}

.campoBoton{
    margin: auto;
    display: flex;
    justify-content: center;
}

#enviar{
    width: 160px;
}
body{
    background-image: url("../Assets/fondo/posiblefondo.jpg");
}
.registrarse{
    color: black;
    font-size: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
}
.registrarse:hover{
    text-decoration: underline;
    color: black;
}